<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ** 매퍼명 : DAO 클래스명 동일 -->
<mapper namespace="com.example.dao.CommunityDAO">

	<insert id="saveQna" parameterType="CommunityVO">
		insert into temp (question,writer) values (#{question},#{writer})
	</insert>
	
	<select id="listQna" resultType="CommunitytVO">
		select * from temp
	</select>
	
	<select id="getQna" parameterType="QnaVO" resultType="QnaVO">
		select * from temp where no=#{no}
	</select>
	
	<update id="answerQna" parameterType="CommunityVO">
		update temp set answer=#{answer}, manager=#{manager} where no=#{no}
	</update>

</mapper>
